# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
CPSC 501 A4/CPSC 501 A4.vcxproj
CPSC 501 A4/CPSC 501 A4.vcxproj.filters
CPSC 501 A4/CPSC 501 A4.vcxproj.user
CPSC 501 A4.sln
